<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js delimeter</title>
</head>
<body>
    
    <div id="app">
        <h1>Delimeter</h1>
        <p> <% msg %>, <% name %> </p>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            delimiters: ["<%","%>"],
            data: {
                msg: 'Happy Monday',
                name: 'Chloe',
                userInput: '',
            },
        })
        

    </script>
</body>
</html>