<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>0526 workshop</title>
  <style>
    /* 취소선 */
    .isCompleted{
      text-decoration: line-through;
    }
  </style>
</head>
<body>
  <!-- 여기에 코드를 작성하시오 -->
  <div id="app">
    <h2>Todo</h2>
    <select v-model="status">
      <option value="all">All</option>
      <option value="in-progress">In progress</option>
      <option value="completed">Completed</option>
    </select>
    <ul>
                        <!-- computed라서 function 형태 () 아님! -->
      <li v-for="todo in computedTodoByStatus" :key="todo.id" :class="{isCompleted: todo.completed}"> 
        <input type="checkbox" v-model="todo.completed">
        {{ todo.content }} 
      </li>
    </ul>
    <div>
      <!-- keyup.[원하는 키] -->
      <!-- http://keycode.info/ 에서 키 번호 알 수 있음  ex) enter는 13-->
      <input @keyup.13="addTodo" v-model="newInput" type="text"/>
      <button @click="addTodo">+</button>
    </div>
    <button @click="clearCompleted">Clear completed</button>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    // 여기에 코드를 작성하시오
    const app = new Vue({
      el: '#app',
      data: {
        status: 'all',
        newInput: '',
        todos: [
        { 
          id: 1,
          content: 'Django 복습',
          completed: true
        },
        {
          id: 2,
          content: 'JavaScript 복습',
          completed: false
        },
        {
          id: 3,
          content: 'Vue.js 복습',
          completed: false
        },
        ],
      },
      methods: {
        check(todo){
          // todo toggling (false -> true, true -> false)
          todo.completed = !todo.completed

        },
        addTodo(){
          // todos에 새로운 newInput 추가
          this.todos.push({
            id: Date.now(),
            content: this.newInput,
            completed: false,
          })
          this.newInput = ''
        },
        clearCompleted(){
          // todos에서 completed가 true인 todo를 삭제
          this.todos = this.todos.filter( todo => !todo.completed)
        },
        todoByStatus(){
          // status == 'all', 'active', 'completed'
          if (this.status === 'in-progress'){
            return this.todos.filter( todo => !todo.completed)
          }
          else if (this.status === 'completed'){
            return this.todos.filter( todo => todo.completed)
          }
          return this.todos
        }
      },
      computed: {
        computedTodoByStatus(){
          // status == 'all', 'active', 'completed'
          if (this.status === 'in-progress'){
            return this.todos.filter( todo => !todo.completed)
          }
          else if (this.status === 'completed'){
            return this.todos.filter( todo => todo.completed)
          }
          return this.todos
        }
      }
    })
  </script>
</body>
</html>